/* .appointment-card {
  border-left: 4px solid var(--secondary-color);
}

.status-pending {
  color: #f39c12;
}

.status-approved {
  color: var(--success-color);
}

.status-cancelled {
  color: var(--accent-color);
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background: white;
} */


/* appointments.component.css */
:host { display:block; }



































/* 
.appointment-card {
  border-left: 4px solid var(--secondary-color);
}

.status-pending {
  color: #f39c12;
}

.status-approved {
  color: var(--success-color);
}

.status-cancelled {
  color: var(--accent-color);
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background: white;
} */