<div class="login-wrapper">
  <div class="login-card">
    <h1 class="login-title">Hospital Management System</h1>
    <p class="login-subtitle">Login to your account</p>

    <div class="input-group">
      <input type="email" [(ngModel)]="email" placeholder="Enter your email" />
    </div>
    <div class="input-group">
      <input type="password" [(ngModel)]="password" placeholder="Enter your password" />
    </div>

    <button class="login-btn" (click)="login()">Login</button>

    <p [style.color]="messageColor" style="margin-top:10px">{{ message }}</p>

    <p>
  Don’t have an account? 
  <a [routerLink]="['/signup']">Go to Signup</a>
</p>

  </div>
</div>
